ADMIN_USER=sacra
ADMIN_PASSWORD=Rufi14
SESSION_SECRET=pon_una_frase_larga_segura
PORT=3000

EMAIL_FROM=menu2informatico@gmail.com
EMAIL_TO=menu2informatico@gmail.com
EMAIL_PASSWORD=tu_password_app_gmail
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
