EMAIL_FROM=menu2informatico@gmail.com
EMAIL_TO=menu2informatico@gmail.com
EMAIL_PASSWORD=tu_contraseña_de_aplicación_16_dígitos
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587

ADMIN_USER=sacra
ADMIN_PASSWORD=Rufi14
SESSION_SECRET=clave_secreta_sesión_larga
PORT=3000

# Email automático tras guardar desde admin
EMAIL_FROM=menu2informatico@gmail.com
EMAIL_TO=menu2informatico@gmail.com
EMAIL_PASSWORD=tu_contraseña_de_aplicación_16_dígitos
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
